
/*-------------------------------------------
[ FONT ]*/

@import url('https://fonts.googleapis.com/css?family=Alegreya|PT+Sans+Narrow');
/*-------------------------------------------
[ footer ]*/


.fa {
  margin-left: 1rem;
     
}
div.social{
    position:relative;
    clear: both;
    right: 0;
    bottom: 0;
}
img.fa{
    float: right;
}
.fa:hover {

    opacity: 0.7;
}



/*--------------------------------------------
[ Default ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}
h2,h1,h3,h5{
    font-family:Alegreya,serif;
}
h3{
    text-align: center;
}
main{
    margin-bottom: 3rem;
}
/*--------------------------------------------
[ Home page ]*/

.container {
    border: 1px solid #bbb;
    padding: 1rem;
    overflow: auto;
    clear: both;
    background-color:cadetblue;
}

.poster {
    float: left;
    background-color: #ddd;
    width: 300px;
    height: 16rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  box-shadow: 5px 10px #888888;
}

.home-desc {
    font-size: 1rem;
    color: whitesmoke;
}

.home-title {
    font-size: 2rem;
}
/*---------------------------------------------
[map responsive]*/
img.contact-img {
    max-width: 100%;
    height: auto;
}
/*---------------------------------------------
[form]*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent ;
}

.bg-contact {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}
.container-img {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background:none;
}
.wrap-contact {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.contact-form {
  width: 100%;
}

.contact-form-title {
  display: block;
  font-family: 'Alegreya', serif;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input {
  display: block;
  width: 100%;
  font-family: 'PT Sans Narrow',Helvetica, Arial,sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}


.focus-input:after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-family: 'PT Sans Narrow',Helvetica, Arial,sans-serif;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;
  transition: all 0.4s;
}

input.input {
  height: 45px;
}

textarea.input {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}


/*------------------------------------------------------------------
[button]*/
button {
	outline: none ;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.container-contact-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #db1563;
  background: linear-gradient(-120deg, #d5007d, #e53935);
  top: 0;
  left: -100%;
  transition: all 0.4s;
}

.contact-form-btn {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: 'PT Sans Narrow',Helvetica, Arial,sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

/*------------------------------------------------------------------
[ media query ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}

